# Part 1

The file "Purchase_Data.csv" contains purchase data at a Chinese supermarket for various products.  Read this csv into a dataframe called df_data and use the head() method to check that you have read in the data correctly. Make sure you import pandas.

In [1]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

Use the dtypes attribute to view how each column is stored

In [2]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
print(df_data.dtypes)

invoice_number    float64
invoice_time       object
store_id           object
product_id          int64
category_id         int64
num_item          float64
price             float64
dtype: object

Slice the first two columns using .loc and store the result in a variable called result_1.

In [4]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
result_1 = df_data.loc[:, :'invoice_time']
print(result_1)

      invoice_number   invoice_time
0       2.020000e+11  7/15/15 10:45
1       2.020000e+11  7/15/15 12:16
2       2.020000e+11  7/15/15 12:16
3       2.020000e+11  7/15/15 12:16
4       2.020000e+11  7/15/15 12:16
...              ...            ...
5377    2.020000e+11   9/5/15 23:07
5378    2.020000e+11   9/5/15 23:23
5379    2.020000e+11   9/5/15 23:24
5380    2.020000e+11   9/5/15 23:32
5381    2.020000e+11   9/5/15 23:38

[5382 rows x 2 columns]

Slice the first two rows using .loc and store the result in a variable called result_2.

In [5]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
result_2 = df_data.loc[:1]
print(result_2)

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0

   price
0    2.0
1    2.0

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [7]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
result_3 = df_data.loc[:3, :'invoice_time']
print(result_3)

   invoice_number   invoice_time
0    2.020000e+11  7/15/15 10:45
1    2.020000e+11  7/15/15 12:16
2    2.020000e+11  7/15/15 12:16
3    2.020000e+11  7/15/15 12:16

Slice rows 0,4,6 and columns invoice time and price and store the result in variable called result_4.

In [9]:
rows_to_select = [0, 4, 6]
columns_to_select = ['invoice_time', 'price']
result_4 = df_data.loc[rows_to_select, columns_to_select]
print(result_4)

    invoice_time  price
0  7/15/15 10:45    2.0
4  7/15/15 12:16    6.0
6  7/15/15 15:28    2.0

Store the number rows in a variable called num_rows.

In [10]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
num_rows = df_data.shape[0]
print("Number of rows:", num_rows)

Number of rows: 5382

Print out the last row of the data to dataframe. **Hint:** use the variable num_rows from the previous exercise.

In [11]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
num_rows = df_data.shape[0]
print(df_data.iloc[num_rows - 1])

invoice_number    202000000000.0
invoice_time        9/5/15 23:38
store_id                    G619
product_id              23030206
category_id               210101
num_item                     1.0
price                        2.0
Name: 5381, dtype: object

# Part 2

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [16]:
import pandas as pd
avg_price = df_data['price'].mean()
max_price = df_data['price'].max()

print("Average price charged:", avg_price)
print("Max price charged:", max_price)

Average price charged: 3.1920522110741363
Max price charged: 6.01

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [18]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
avg_price, avg_num_items = df_data[['price', 'num_item']].mean()
print("Average price:", avg_price)
print("Average number of items purchased:", avg_num_items)

Average price: 3.1920522110741363
Average number of items purchased: 1.2983091787439613

Create a column called "total", which is the product of the price and num_item columns.

In [22]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
df_data['total'] = df_data['price'] * df_data['num_item']
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price  total
0    2.0    2.0
1    2.0    2.0
2    2.0    2.0
3    6.0    6.0
4    6.0    6.0

What is the avgerage price of the three most expensive purchases?

In [24]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
avg_top_3_price = df_data.nlargest(3, 'price')['price'].mean()
print("Average price of the three most expensive purchases:", avg_top_3_price)

Average price of the three most expensive purchases: 6.003333333333333

How many different products are there?

In [26]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
num_unique_products = df_data['product_id'].nunique()
print("Number of different products:", num_unique_products)

Number of different products: 53

Find the difference between the mean and median of the column total.  Use the describe() method and then index the dataframe it returns.

In [33]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
summary_stats = df_data['total'].describe()
difference_mean_median = summary_stats['mean'] - summary_stats['50%']
print("Difference between the mean and median of the 'total' column:", difference_mean_median)

KeyError: 'total'

Use the drop() method to delete the column total from the dataframe df_data.

In [36]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
df_data = df_data.drop(columns=['total'])
print(df_data.head())

KeyError: "['total'] not found in axis"

Let's dig a little deeper into the data set and answer some basic question.

First, covert the column invoice time to a datetime column. Print out the new column types to make sure this was done correctly

In [38]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
df_data['Invoice_Time'] = pd.to_datetime(df_data['invoice_time'])
print(df_data.dtypes)

invoice_number           float64
invoice_time              object
store_id                  object
product_id                 int64
category_id                int64
num_item                 float64
price                    float64
Invoice_Time      datetime64[ns]
dtype: object

C:\Users\Admin\AppData\Local\Temp\ipykernel_21816\3216903390.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_data['Invoice_Time'] = pd.to_datetime(df_data['invoice_time'])

Next, let's create columns called "DOW" and "Month", which store the corresponding weekday and month of the invoice respectively.  Print the head of the dataframe to make sure this was done correctly.

In [39]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])
df_data['DOW'] = df_data['invoice_time'].dt.weekday
df_data['Month'] = df_data['invoice_time'].dt.month
print(df_data.head())

   invoice_number        invoice_time store_id  product_id  category_id  \
0    2.020000e+11 2015-07-15 10:45:00     G816     7000300       210101
1    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
2    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
3    2.020000e+11 2015-07-15 12:16:00     G816     7070891        70401
4    2.020000e+11 2015-07-15 12:16:00     G816     7090363        70401

   num_item  price  DOW  Month
0       1.0    2.0    2      7
1       1.0    2.0    2      7
2       1.0    2.0    2      7
3       1.0    6.0    2      7
4       1.0    6.0    2      7

C:\Users\Admin\AppData\Local\Temp\ipykernel_21816\401787837.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])

Create a variable called num_purchases_wed, which stores the number of purchases made on Wednesday?  You should use value_counts and then index the series it return.

In [40]:
import pandas as pd
df_data = pd.read_csv("../Data/Purchase_Data.csv")
df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])
df_data['DOW'] = df_data['invoice_time'].dt.weekday
num_purchases_wed = df_data['DOW'].value_counts()[2]
print("Number of purchases made on Wednesday:", num_purchases_wed)

Number of purchases made on Wednesday: 959

C:\Users\Admin\AppData\Local\Temp\ipykernel_21816\1654105112.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])

# Part 3

In this set of practice exercises, we will be working with a demographic data regarding the passengers aboard the Titanic.  Read in the data frame and use the head() method to check that it was read in correctly.

In [41]:
import pandas as pd
titanic_df = pd.read_csv('../Data/Titanic.csv')
print(titanic_df.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

Use the rename method to change the column "Name" to "Passenger_Name" and the column "Ticket" to "Ticket_Num".

In [46]:
import pandas as pd
titanic_df = pd.read_csv('../Data/Titanic.csv')
titanic_df.rename(columns={'Name': 'Passenger_Name', 'Ticket': 'Ticket_Num'}, inplace=True)
print(titanic_df.head())

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

Change the index of the df_titanic to the column PasengerID.

In [53]:
import pandas as pd
titanic_df = pd.read_csv('../Data/Titanic.csv')
titanic_df.set_index('PassengerID', inplace=True)
print(titanic_df.head())

KeyError: "None of ['PassengerID'] are in the columns"

Select the name of passenger 896

In [63]:
passenger_896_name = titanic_df.loc[896, 'Name']
print(passenger_896_name)

KeyError: 896

Change the index back to row numbers but making sure that we don't lose the PassengerId column.

In [64]:
titanic_df.reset_index(drop=False, inplace=True)

How many missing entries are there in the Age column? Use the isnull() method and recall than Booleans are exactly like 1s (True) and 0s (False).

In [65]:
missing_age_count = titanic_df['Age'].isnull().sum()
print("Number of missing entries in the Age column:", missing_age_count)

Number of missing entries in the Age column: 86

Compute the avg age of passengers ignoring the missing data.

In [66]:
average_age = titanic_df['Age'].mean()
print("Average age of passengers (ignoring missing data):", average_age)

Average age of passengers (ignoring missing data): 30.272590361445783

Using the fillna() method replace the missing values in the Age column with the mean.

In [69]:
mean_age = titanic_df['Age'].mean()
titanic_df['Age'].fillna(mean_age, inplace=True)

What is the average age of the 5 oldest passengers? The reset_index method will be helpful here.

In [68]:
df_sorted = titanic_df.sort_values(by='Age', ascending=False)
oldest_passengers = df_sorted.head(5)
average_age_oldest = oldest_passengers['Age'].mean()